<header class="bg-black text-white p-4 border-b-2 border-green-500 shadow-md shadow-green-500/50">
    <nav class="container mx-auto flex justify-between items-center">
        <a href="{{ site.baseurl }}/" class="text-xl font-bold text-green-500 hover:text-green-300">
            Home
        </a>
        <ul class="flex space-x-6">
            <li>
                <a href="{{ site.baseurl }}/projects/" class="text-xl font-bold hover:text-green-300 text-green-500">
                    All Projects
                </a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/about/" class="text-xl font-bold hover:text-green-300 text-green-500">
                    About Me
                </a>
            </li>
        </ul>
    </nav>
</header>
