.highlighted-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.highlighted-post {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
    max-width: 300px;
}

.highlighted-post img {
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.highlighted-post h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

.post-date {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555; /* Change this color to suit your design */
}

.highlighted-post a {
    text-decoration: none;
    color: inherit;
}
