---
layout: default
---

<section class="text-center mb-16 pt-12 pb-16 border-b-2 border-green-500 shadow-lg shadow-green-500/30 rounded-xl bg-gray-900 bg-opacity-20 backdrop-blur-sm">
    <h1 class="text-6xl md:text-7xl font-extrabold mb-4 animate-pulse-green">
        {{ page.hero_title }}
    </h1>
</section>

<section id="pinned-projects" class="py-12">
    <h2 class="text-5xl font-bold text-center mb-12">
        Pinned Projects
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for project in site.projects %}
            {% if project.pinned %}
                {% include project_card.html project=project %} 
            {% endif %}
        {% endfor %}
    </div>
</section>
